@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";

$white: #ffffff;
$darkBlue: #3A4793;
$lightBlue:#25B3EC;
$lightPurple:#9787EE;
$yellow:#FFBF3E;

html, body{
  background: $white;
  height: 100%;
}

#home{
  background: url('https://www.aspensnowmass.com/-/media/aspensnowmass/our-mountains/snowmass/2017_snowmass_landingpage_sh.ashx') no-repeat center center;
  width:100%;
  height: 100%;

}